@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "BlockUser";
}

<h2>BlockUser</h2>
<form action="/Admin/Block" method="post">
    <label title="Enter ID"></label>
    <input type="text" value="Enter ID" />
    <input type="submit" value="Block" />
</form>
