@{
    ViewBag.Title = "Block";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model EADWebTeacherFacilitationSystem.Models.User
<body>
<div class="container">
    @using (Html.BeginForm("BlockUser", "Admin", FormMethod.Post))
    {

        @Html.LabelFor(u => u.Id)
        @Html.TextBoxFor(u => u.Id)
       
        <input type="submit" value="Block" />
    }
</div>
</body>
