@{
    ViewBag.Title = "BlockStudent2";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}

@using EADWebTeacherFacilitationSystem.Models
<body>

    <div class="container">

        <table border="1"
               style="background-color:azure">
            <tr class="alert-success:" style="background-color: gold"><td>Student ID</td><td>Student Name</td><td>Block</td></tr>
            @foreach (User u in Model)
            {
                <tr><td>@u.Id</td><td>@u.Name</td><td>@Html.ActionLink("BLOCK", "BlockStudent3", new { id = u.Id })</td></tr>
            }
        </table>

    </div>

</body>
